// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100%
  }

.form{
  display: block;
  text-align: center;
  margin: auto;
  width: 62%;
}

#edit_user_body {
  text-align: center;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 60px 60px 60px 60px;
  background-color: #f1f1f1;
  margin: 0px;
  border-style: solid;
  border-width: 0px 100px 0px 0px;
  border-color: #004345;

}

#main {
  height: 100%;
  padding: 60px 45px 20px 300px;
  background-color: #f1f1f1;
  margin: 0px;
  border-style: solid;
  border-width: 0px 100px 0px 0px;
  border-color: #004345;
  }

.sidenav {
  height: 100%;
  width: 280px;
  position: absolute;
  left: 0;
  padding-top: 7%;
  /* background-color: #bbe950; */
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  color: white;
  }

.sidenav header {
  margin-top: 45px;
  padding-top: 20px;
  text-decoration: none;
  font-size: 50px;
  color: black;
  display: block;
  font-family: 'Knewave', cursive;
  text-align:center;
  }
  .sidenav a{
    color: white;
  }

.sidenav a:link{
  text-decoration: none;
  padding: 8px;
  font-size: 22px;
  color: white;
  display: block;
  font-family: Kalam;
}

.sidenav ul {
  padding-inline-start: 0px;
  text-align: center;
  margin-top: 5%;
  text-decoration: none;
}

.sidenav button:hover {
  text-decoration: none;
  background-color: #0a8574;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-transition: all .25s;
  }

#user_welcome_name {
  font-family: 'Abril Fatface', cursive;
  padding-left: 7%;
}

#delete_account {
  background-color: rgb(199, 21, 134);
  box-shadow: 0 10px 30px rgba(87, 173, 216, 0.605);
  border-radius: 5px;
  margin: 29% 10% 10% 10%;
  transition: all 0.3s ease-in-out;
}

#delete_account:hover {
  text-decoration: none;
  background-color: #af1e0b;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-transition: all .25s;
}

#edit_account_btn, #make_choice_btn , #make_address_btn, #add_address_btn, #edit_address_btn  {
  box-shadow: 0 10px 30px 0 rgba(87, 173, 216, 0.605);
  -webkit-border-radius: 12px;
  border-radius: 40px;
  border-style: hidden;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}


#edit_user_header {
  font-family: 'Abril Fatface', cursive;
}

