<head>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
</head>

<div class="wrapper">
  <div id="landing_content">

    <h2 id="home_banner">Why is It Hard to Decide?</h2>
    <h5 id="home_p">"What should I eat?" is always the biggest question.
      <br>
        Do you spend far too long scrolling through Netflix? Us too.
      <br>
        At some point in our lives we have gone through this abyss of undecisiveness.
      <br>
        Want someone else to do the choosing for you? Well, look no further.
      <br>
        With the Decisions Decisions app you can either choose a film genre or cuisine and the app will recommend something.
      <br>
        You can also have it randomly select something for you to watch or eat!
      <br>
        So have fun and make decisions!</h5>
  </div>
</div>

<div id="foot-note">
    <p> Michael Lee •
      Kim Nguyen •
      Rodrigo Rojas •
      Ellaine Tolentino</p>
    <p>Project built for Flatiron School Phase2</p>
</div>
